.active {
  background-color: #2d86eb;

  /* color: #4f34eb; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #11225a;
}
nav .menu {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
 
}
nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
  
}
@media (max-width: 768px) {
  nav .menu {
    display: flex;

  }

  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  /* position: relative; */
  /* top: 100%;
    bottom: 0; */
    z-index: 100;
  
}
.footer p {
  /* font-size: 20px;   */

} 
footer li {
  display: inline-block;
  list-style: none;
  
  margin: 0 20px;
}
.footer a {
  color: #1eda82;
  text-decoration: none;
  font-size: 20px;

}
.footer a:hover {
  text-decoration:underline wavy  rgb(156, 2, 245);
  
}
@media (max-width: 768px) {
  .footer {
    
    flex-direction: column;
    align-items: center;
  }
  .footer p {
    margin-bottom: 10px;
  }
} 
/* .footer .social-icons {
  margin-top: 10px;
} */
/* .footer .social-icons a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
} */
/* .footer .social-icons a:hover {
  color: #4f34eb;
} */
